@import "reset";
@import "variables";

.container{
    padding: 0 1rem;
}

body{
    background-color: $bgColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
}

//Nesting Usage

nav {
    display: flex;
    justify-content: space-between;
    background-color: $navBgColor;

    .brand{
        img{
            width: 80px;
            border: $navBgColor;
            border-radius: 30%;
            padding: 10px;
            margin: 10px;
        }
    }
}